{
  "extends": "react-app",
  "settings": {
    // weird hack to suppress a react version warning
    // see https://github.com/DRD4-7R/eslint-config-7r-building/issues/1#issuecomment-473031376
    "react": {
      "version": "999.999.999"
    }
  }
}
